anyenv


fish/*
!fish/conf.d
fish/conf.d/*
!fish/conf.d/balias.fish

!fish/functions
fish/functions/*
!fish/functions/smart_tmux.fish
!fish/functions/tssh.fish
!fish/functions/fisher.fish
!fish/functions/fish_user_key_bindings.fish

!fish/config.fish
!fish/fishfile

fisher
gcloud
gh
